<%- model_class = SecretCode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @secret_code.user.email unless @secret_code.user.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:secretcode) %>:</strong></dt>
  <dd><%= @secret_code.secretcode %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              secret_codes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_secret_code_path(@secret_code), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              secret_code_path(@secret_code),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
